html {
    height: 100%;
}
.logo2{
    -webkit-box-shawon:0 0 25px rgba(34, 114, 34, .90);
    box-shadow: 0 0 25px rgba(34, 114, 34, .90);
    border-radius:50%; 
    width: 92px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
ul {
    list-style-type: none;
    margin-top: 1.8%;
  }
li{
    border:none;
    margin-right: 2.6%;
    display: inline;
}
a{
    color:white;
    border-bottom: 2.5px solid rgba(8, 160, 23, 0);
    text-decoration: none;
    transition: border-bottom ease 1s;
}
a:hover{
    color:white;
    border-bottom: 2.5px solid rgba(8, 160, 23, 1);
}

.container1{
    margin-top: 5%;
    border-radius: 5px;
    color:whitesmoke;
    width: 500px;
    height: 650px;
    background-color: #202020;
}
.animate_start{
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { opacity:0.2 } 
    to { opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{opacity:0.2 } 
    to{opacity:1 }
  }

.animate_2{
    position: relative;
    -webkit-animation-name: animateleft;
    -webkit-animation-duration: 2.5s;
    animation-name: animateleft;
    animation-duration: 2.5s
}

@-webkit-keyframes animateleft {
    from { right:-300px; opacity:0 } 
    to { right:0px; opacity:1 }
  }
  
  @keyframes animateleft { 
    from{ right:-300px;} 
    to{ right:0;}
  }

.logo{
    border-radius: 50%;
}

.input1{
    text-align: center;
    background-color: #202020;
    color:rgb(255, 255, 255);
    border-radius: 6px;
    height:50px;
    width:272px;
    border: 1px solid #929499;
    font-size: medium;

}
.input1::-webkit-input-placeholder {
    color: #AAA;
  }
  
  input1:focus::-webkit-input-placeholder {
    color: dodgerblue;
  }
  
  .input1:focus+.underline {
    transform: scale(1);
  }
  
  .underline {
    margin:0%;
    margin-bottom:3%;
    background-color: dodgerblue;
    display: inline-block;
    height: 2px;
    width:272px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

.background1{
    color:white;
    background-color: rgba(0, 0, 0, 0.93);
}

.password {
    position: absolute;
    right: 50%;
    margin-right: -120px;
    margin-top: 26px;
}

@media screen and (max-width: 1300px){
    .container1{
        margin-top:2%;
    }
    .input1{
        text-align: center;
        background-color: #202020;
        color:rgb(255, 255, 255);
        border-radius: 6px;
        height:50px;
        width:302px;
        border: 1px solid #929499;
        font-size: medium;
    }
    .underline {
        width:302px;
      }
    .password{
        margin-right: -137px;
    }
}


@media screen and (max-width: 800px){
    .container1{
        margin-top:2%;
    }

    .input1{
        text-align: center;
        background-color: #202020;
        color:rgb(255, 255, 255);
        border-radius: 6px;
        height:50px;
        width:295px;
        border: 1px solid #929499;
        font-size: medium;
        
    }
    .underline {
        width:295px;
      }
      .password{
        margin-right: -130px;
    }
}


@media screen and (max-width: 500px){
    .status{
        margin-top: 60%;
    }
    .background1{
        background-color: #202020;
    }

    .input1{
        text-align: center;
        background-color: #202020;
        color:rgb(255, 255, 255);
        border-radius: 6px;
        height:50px;
        width:310px;
        border: 1px solid #929499;
        font-size: small;
        right:10px;
    }
    
    .underline {
        margin-bottom: 3.5%;
        width:310px;
      }
    .password{
        margin-right: -135px;
    }
    .buttons{
        width:200px;
    }
    @media screen and (max-width: 380px){
        .input1{
            width: 250px;
        }
        .password{
            margin-right: -105px;
        }
        .underline{
            width:250px;
            margin-bottom: 4.3%;
        }
    }
    @media screen and (max-width:300px){
        .input1{
            width: 250px;
        }
        .password{
            margin-right: -105px;
        }
        .underline{
            width:250px;
            margin-bottom: 4.3%;
        }
        .text{
            margin-left:8%;
            font-size: 22px;
        }
    }
}


::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(221, 221, 221);
    font-size: small;
   }
.buttons{
    width:45%;
    margin-top: 3%;
    border: 2px solid black;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(34, 114, 34);
}
.buttons:hover{
    -webkit-box-shawon:0 0 10px rgba(34, 114, 34, .90);
    box-shadow: 0 0 10px rgba(34, 114, 34, .90);
    transition: box-shadow 0.3s ease-in-out;
}

body{
    font-family:serif
}
.status{
    background-color: white;
    height: 25px;
    width:25px;
    display:inline-block;
    border-radius:50%;
    margin-top:8%;
    transition: background-color .8s ease-in-out;
}

.error{
    margin-bottom: -3.5%;
    line-height: 6.5%;
    margin-top:5.5%;
    margin-left:25%;
    text-align: center;
    border-radius: 5px;
    height:6.5%;
    background-color: rgba(213, 24, 24, .95);
    border: 2px solid black;
    width:55%;
    color: black;
}

