.container1{
    border-radius: 5px;
    color:whitesmoke;
    width: 530px;
    height: 700px;
    background-color: #202020;
}

.logo{
    border-radius: 50%;
}

.input1{
    text-align: center;
    background-color: #202020;
    color:rgb(255, 255, 255);
    border-radius: 6px;
    height:50px;
    width:17vw;
    border: 1px solid #929499;
    font-size: medium;

}
.input1::-webkit-input-placeholder {
    color: #AAA;
  }
  
  input1:focus::-webkit-input-placeholder {
    color: dodgerblue;
  }
  
  .input1:focus+.underline {
    transform: scale(1);
  }
  
  .underline {
    position: absolute;
    margin-top: 50px;
    left:41.5%;
    background-color: dodgerblue;
    display: inline-block;
    height: 2px;
    width:17vw;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

.background1{
    background-color: rgba(0, 0, 0, 0.93);
}

@media screen and (max-width: 1300px){
    .input1{
        text-align: center;
        background-color: #202020;
        color:rgb(255, 255, 255);
        border-radius: 6px;
        height:50px;
        width:25vw;
        border: 1px solid #929499;
        font-size: medium;
    }
    .underline {
        height: 2px;
        width:25vw;
        left:38%;
      }
}


@media screen and (max-width: 800px){
    .container1{
        margin-bottom: 30%;
        border-radius: 5px;
        color:whitesmoke;
        width: 400px;
        height: 670px;
        background-color: #202020;
    }

    .input1{
        text-align: center;
        background-color: #202020;
        color:rgb(255, 255, 255);
        border-radius: 6px;
        height:50px;
        width:35vw;
        border: 1px solid #929499;
        font-size: small;
        
    }
    .underline {
        height: 2px;
        width:35vw;
        left:33%;
      }
}


@media screen and (max-width: 500px){

    .background1{
        background-color: #202020;
    }

    .container1{
        margin-bottom: 30%;
        border-radius: 5px;
        color:whitesmoke;
        width: 300px;
        height: 560px;
        background-color: #202020;
    }
    .input1{
        text-align: center;
        background-color: #202020;
        color:rgb(255, 255, 255);
        border-radius: 6px;
        height:50px;
        width:80vw;
        border: 1px solid #929499;
        font-size: small;
        right:10px
    }
    .underline {
        margin-top: 0px;
        height: 2px;
        width:80vw;
        left:13%;
      }
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(221, 221, 221);
    font-size: small;
   }
