<div style="padding-top:8%">
    <p style="font-family:serif; font-size: 30px; font-weight: 300;">Step 2: Pick a username</p>
</div>
<div style="margin-top:7%; margin-bottom:1%; font-size:large; margin-right:45;">
    <label>Username:</label>
</div>
<div>
    <input type="hidden" id="id" value="{{id}}">
    <input class="input1" required type="text" id="username">
    <span class="underline"></span>
    <p style="font-size:small"><i>Other users will see you as this</i></p>
</div>
<div style="padding-top: 5%">
</div>
<div style="padding-top: 6%;">
    <button class="buttons" onclick="color_request2()">Next</button>
</div>
