<!DOCTYPE html>
<html>
    <head>
        <script src="/static/script.js"></script>
        <script src="https://kit.fontawesome.com/c49df518a2.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body class="background1" style="height:100%">
        <ul>
            <li>
                <img src="/static/logo.jpg" class="logo2">
            </li>
            <li>
                <a href="#">Scoreboard</a>
            </li>
            <li>
                <a href="#">Games</a>
            </li>
        </ul>
        <div style="border:2px solid rgb(44, 44, 44); box-shadow: 0 0 25px rgba(255, 255, 255, .75); border-radius: 2rem; width:85%; margin-left: 7.5%; height: 70%; background-color: #202020;">
            <p style="margin-left:5%; margin-top: 8.5vh;">Hello, person</p>
        </div>
    </body>
</html>